	 


    <div class="wrapper">
      <div class="bg-img">
      <section class=" wrapper layout-content_about  middle-display">
	    <div class="col-1-2">

		  <h2 class="title">About Me</h2>
		  <div class="flex">
		  <img class="portrait-small" src="/assets/headshot-small.jpg">
		  </div>
		 
		  <!-- <p>I’ve come a long way from those ponderous days in which the thought of building my very own website was little more than a pipe dream, a pipe dream that has now become real as breathing. The minimal site you now see was built using your standard CSS and HTML, with a dash of jQuery to give that comic-y feel whenever you hit the navigation tabs.</p> -->
		  <p>Four years ago, I was too busy burying my head in The Visual Starter Guide for HTML/CSS, PHP, and Javascript to even fathom that I’d ever know how to style a navigation bar properly, let alone build a site from scratch. </p>
       <!--    <p>Suffice to say, the journey has been rough. Full of pitfalls and roadblocks. Turns out that there are a million and one technologies to learn. New ones crop up every day it seems. I drifted away from the path of web development and took up the titan called C++ three years ago. C++ by nature is a low-level language, aimed for performance junkies and the like. It was the first programming language I truly dove into. It excited me with objects and befuddled me with its pointers, but I didn’t get much gratification from learning it. I still wanted to make apps.</p> -->
       <!--    <p>So, I moved onto Java and the Android SDK. Up till this point, I’ve become aware of the wide array of  languages out there in the wild and, like a kid in a toy shop, I wanted to play with all of them. I found Java to be much more intuitive than C++. I thought I might try to design a mobile gaming app, because, apart from my desire to make web apps, I’ve always wanted to design a video game. Java’s portability seemed like a perfect match. </p> -->
         <!--  <p>But after a few weeks attempting to learn the language on my own, I put the toy down and switched over to Python, then Ruby. A pattern was forming. I’d be excited about the prospect of learning a new language, then my interest would plummet after time spent trying to learn it. I began to think that, perhaps, I wasn’t born to code. So I focused on my writing in the hopes of producing a manuscript worthy of an agent’s scrutinizing eye.</p> -->
          <p>It wasn’t until my cousin mentioned the opportunities that coding bootcamps provide that I considered truly learning how to learn. She’d just graduated from Temple and was looking to dive into web programming. Meetups are a big thing in the programming community, she said. So I went to a free class that Makersquare(now Hack Reactor) provided. I was enthralled by how much I learned in such a short session. The free class was a glorified ad for the bootcamp, and it worked wonders on me. 
          </p>
	       <p>I applied  to their program, and to another bootcamp called Dev Bootcamp. In the end, I ended up choosing Dev Bootcamp. And I haven’t regretted the decision.
	       </p>
	   	</div>	 
	 </section> 
	
	 <section class="layout-content_portfolio shadow">
					<div class="section-header">
					   <h2 class="title">Projects</h2>
				    </div>
				    <div class="section-content middle-display">
				       
				        <figure>
				          <img src="/assets/mypolitician.JPG">

				          <figcaption class="img-content">
				          <h3>myPolitician</h3>
				          <p>myPolitician is an interactive map that is used to find a user's representative at all levels of the government. From the state to the local level, users will also be able to see upcoming policies that will be voted on by their representative as well as how they have voted on past policies.</p>
				          </figcaption>
				       </figure>
							         
				         				        
							
				       <!--  <div class="section-text col-2-3">
					        <a href="http://mypolitician.herokuapp.com/"><h3 class="project-title">myPolitician</h3></a>
					        <h4 class="sub-title">About</h4>
					        <p>myPolitician is an interactive map that is used to find a user's representative at all levels of the government. From the state to the local level, users will also be able to see upcoming policies that will be voted on by their representative as well as how they have voted on past policies.</p>
							<p>The goal of myPolitician is to provide users with a tool that empowers them with information on how their representatives are voting on their behalf. With this information, users can then make informed decisions on who they want to represent 
							them.</p>
							<h4 class="sub-title">Story</h4>
							<p>As part of a team of three, I was responsible for building the  front end functionality of our web app using React. I made Ajax requests to an API called the Congress API. Finally, I served the Twitter API on the back end using HTTP requests with ruby, parsing the data into JSON.</p>
							<p>The greatest diffuclty came with integrating D3.js and React, and having to account for changes in state whenever a user clicked on a portion of the map. To solve the problem, I bound a click event to a location on the map, collected data from the SVG file, and passed those in as parameters to a function, which then made an Ajax request to the Congress API.</p> 
						</div> -->
				    </div>		      
			</section> 
			
			
			<footer class="layout-content_contact middle-display">
				<h2>Hire Me</h2>
				<p>If you want to hire me, send me an email at rajiayinla858@gmail.com</p>
				<div>Icons made by <a href="http://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
			</footer>
			</div> 
		</div>
	
		
