	<section class="layout-hero shadow">
    <div class="col-1-4 dev-header back-end middle-display">
      <h3 class="box shadow">Back End Skills</h3>
    </div>
    <div class="line line_left col-mini"></div>
    <div class="col-1-3 me-col middle-display">
	    <img class="img-round" src="/assets/headshot-small.jpg">
	    <p class="byline">Web developer by day, writer by night.</p>
    </div>
    <div class="line line_right col-mini"></div>
    <div class="col-1-4 dev-header front-end middle-display">
      <h3 class="box shadow">Front End Skills</h3>
      <div class="front-end_list">
        <!--images go here -->
        
      </div>
    </div>
    </section>
    
    <div class="wrapper">
	    <div class="layout-content col-3-4">
	      <h2 class="title">My Projects</h2>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis non orci quis consequat. Praesent rhoncus elit vitae nunc vulputate dapibus. Cras commodo sit amet neque ac lobortis. Nunc ullamcorper tincidunt erat molestie ornare. Cras auctor finibus ligula ac commodo. Maecenas dictum blandit luctus. In tortor nulla, iaculis semper elit quis, viverra lobortis sapien. Donec vel quam vel nulla auctor semper a at eros. Suspendisse potenti. Nam iaculis orci ligula, id sagittis tortor dictum et. Cras ut sagittis ipsum, quis pulvinar quam. Fusce congue, purus et luctus tincidunt, mi diam volutpat nibh, non accumsan leo ipsum nec libero. Mauris tempor, mi iaculis efficitur sollicitudin, ante tortor tincidunt tellus, nec tempor sem est vitae lacus. In id nibh et eros cursus efficitur ac ut risus.
	      </p>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis non orci quis consequat. Praesent rhoncus elit vitae nunc vulputate dapibus. Cras commodo sit amet neque ac lobortis. Nunc ullamcorper tincidunt erat molestie ornare. Cras auctor finibus ligula ac commodo. Maecenas dictum blandit luctus. In tortor nulla, iaculis semper elit quis, viverra lobortis sapien. Donec vel quam vel nulla auctor semper a at eros. Suspendisse potenti. Nam iaculis orci ligula, id sagittis tortor dictum et. Cras ut sagittis ipsum, quis pulvinar quam. Fusce congue, purus et luctus tincidunt, mi diam volutpat nibh, non accumsan leo ipsum nec libero. Mauris tempor, mi iaculis efficitur sollicitudin, ante tortor tincidunt tellus, nec tempor sem est vitae lacus. In id nibh et eros cursus efficitur ac ut risus.
	      </p>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis non orci quis consequat. Praesent rhoncus elit vitae nunc vulputate dapibus. Cras commodo sit amet neque ac lobortis. Nunc ullamcorper tincidunt erat molestie ornare. Cras auctor finibus ligula ac commodo. Maecenas dictum blandit luctus. In tortor nulla, iaculis semper elit quis, viverra lobortis sapien. Donec vel quam vel nulla auctor semper a at eros. Suspendisse potenti. Nam iaculis orci ligula, id sagittis tortor dictum et. Cras ut sagittis ipsum, quis pulvinar quam. Fusce congue, purus et luctus tincidunt, mi diam volutpat nibh, non accumsan leo ipsum nec libero. Mauris tempor, mi iaculis efficitur sollicitudin, ante tortor tincidunt tellus, nec tempor sem est vitae lacus. In id nibh et eros cursus efficitur ac ut risus.
	      </p>
	    </div>

	    <div class="layout-sidebar left col-1-4 bubble shadow">
	      <div class="layout-sidebar__sections">
	        <h4 class="headline">You can find me on</h4>
	        <ul class="list soc-list">
	          <li><a href="https://twitter.com/realrayinla">Twitter</a></li>
	          <li>Linkedin</li>
            <li>Github</li>
	        </ul>   
	      </div>    
	    </div>
	</div>
