	 


    <div class="wrapper">
      <div class="bg-img">
      <section class=" wrapper layout-content_about  middle-display">
	    <div class="col-1-2">
		  <h2 class="title">About Me</h2>
		  <div class="flex">
		    <img class="portrait-small" src="/assets/headshot-small.jpg">
		  </div>
		  <p>Hey! My name is Raji Ayinla. Four years ago, I was too busy burying my head in The Visual Starter Guides for HTML/CSS, PHP, and Javascript to even fathom that I’d ever know how to style a navigation bar properly, let alone build a site from scratch. </p>
	      <p>Now, I have a wide array of skills that start at the front end with languages like HTML,CSS, and Javascript, ending at the back end with knowledge that includes Ruby, the Ruby on Rails framework, and a bit of PHP.
	   	</div>	 
	 </section> 
	
	 <section class="layout-content_portfolio shadow">
		<div class="section-header">
		   <h2 class="title">Projects</h2>
	    </div>
	    <div class="section-content middle-display">
		  <figure>
			<img src="/assets/mypolitician.JPG">
			<figcaption class="img-content">
			  <h3>myPolitician</h3>
			  <p>myPolitician is an interactive map that is used to find a user's representative at all levels of the government. From the state to the local level, users will also be able to see upcoming policies that will be voted on by their representative as well as how they have voted on past policies.</p>
		    </figcaption>
		  </figure>
	   </div>		      
	 </section> 
			
			
	 <footer class="layout-content_contact middle-display">
		<div class="col-1-2">
		  <h2>Hire Me</h2>
		  <p>If you want to hire me, all you have to do is send me an email at rajiayinla858@gmail.com. I will get back to you within 24 hours.</p>				
  		  <div class="attribute">		
			<p>Icons made by <a href="http://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
		  </div>
	    </div>
	</footer>
  </div>
</div> 
		
	
		
