	 


    <div class="wrapper">
      <div class="bg-img">
      <section class=" wrapper layout-content_about  middle-display">
	    <div class="col-1-2">

		  <h2 class="title">About Me</h2>
		  <div class="flex">
		  <img class="portrait-small" src="/assets/headshot-small.jpg">
		  </div>
		 
		  <!-- <p>I’ve come a long way from those ponderous days in which the thought of building my very own website was little more than a pipe dream, a pipe dream that has now become real as breathing. The minimal site you now see was built using your standard CSS and HTML, with a dash of jQuery to give that comic-y feel whenever you hit the navigation tabs.</p> -->
		  <p>Hey! My name is Raji Ayinla. Four years ago, I was too busy burying my head in The Visual Starter Guides for HTML/CSS, PHP, and Javascript to even fathom that I’d ever know how to style a navigation bar properly, let alone build a site from scratch. </p>
       
	       <p>Now, I have a wide array of skills that start at the front end with languages like HTML,CSS, and Javascript, ending at the back end with knowledge that includes Ruby, the Ruby on Rails framework, and a bit of PHP.
	   	</div>	 
	 </section> 
	
	 <section class="layout-content_portfolio shadow">
					<div class="section-header">
					   <h2 class="title">Projects</h2>
				    </div>
				    <div class="section-content middle-display">
				       
				        <figure>
				          <img src="/assets/mypolitician.JPG">

				          <figcaption class="img-content">
				          <h3>myPolitician</h3>
				          <p>myPolitician is an interactive map that is used to find a user's representative at all levels of the government. From the state to the local level, users will also be able to see upcoming policies that will be voted on by their representative as well as how they have voted on past policies.</p>
				          </figcaption>
				       </figure>
							         
				         				        
							
				       <!--  <div class="section-text col-2-3">
					        <a href="http://mypolitician.herokuapp.com/"><h3 class="project-title">myPolitician</h3></a>
					        <h4 class="sub-title">About</h4>
					        <p>myPolitician is an interactive map that is used to find a user's representative at all levels of the government. From the state to the local level, users will also be able to see upcoming policies that will be voted on by their representative as well as how they have voted on past policies.</p>
							<p>The goal of myPolitician is to provide users with a tool that empowers them with information on how their representatives are voting on their behalf. With this information, users can then make informed decisions on who they want to represent 
							them.</p>
							<h4 class="sub-title">Story</h4>
							<p>As part of a team of three, I was responsible for building the  front end functionality of our web app using React. I made Ajax requests to an API called the Congress API. Finally, I served the Twitter API on the back end using HTTP requests with ruby, parsing the data into JSON.</p>
							<p>The greatest diffuclty came with integrating D3.js and React, and having to account for changes in state whenever a user clicked on a portion of the map. To solve the problem, I bound a click event to a location on the map, collected data from the SVG file, and passed those in as parameters to a function, which then made an Ajax request to the Congress API.</p> 
						</div> -->
				    </div>		      
			</section> 
			
			
			<footer class="layout-content_contact middle-display">
			  <div class="col-1-2">
				<h2>Hire Me</h2>
				<p>If you want to hire me, all you have to do is send me an email at rajiayinla858@gmail.com. I will get back to you within 24 hours.</p>				
  				<div class="attribute">		
				<p>Icons made by <a href="http://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
			    </div>
			  </div>
			</footer>
			</div> 
		</div>
	
		
