<!-- Full layout -->

	<section class="wrapper layout-hero shadow">
	    <h2> Picture goes here </h2>
	    <button class="btn btn-hero">Hire me</button>
    </section>
    
    <div class="wrapper">
	    <div class="layout-content col-3-4">
	      <h4><a href="#">My main stuff</a></h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis non orci quis consequat. Praesent rhoncus elit vitae nunc vulputate dapibus. Cras commodo sit amet neque ac lobortis. Nunc ullamcorper tincidunt erat molestie ornare. Cras auctor finibus ligula ac commodo. Maecenas dictum blandit luctus. In tortor nulla, iaculis semper elit quis, viverra lobortis sapien. Donec vel quam vel nulla auctor semper a at eros. Suspendisse potenti. Nam iaculis orci ligula, id sagittis tortor dictum et. Cras ut sagittis ipsum, quis pulvinar quam. Fusce congue, purus et luctus tincidunt, mi diam volutpat nibh, non accumsan leo ipsum nec libero. Mauris tempor, mi iaculis efficitur sollicitudin, ante tortor tincidunt tellus, nec tempor sem est vitae lacus. In id nibh et eros cursus efficitur ac ut risus.
	      </p>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis non orci quis consequat. Praesent rhoncus elit vitae nunc vulputate dapibus. Cras commodo sit amet neque ac lobortis. Nunc ullamcorper tincidunt erat molestie ornare. Cras auctor finibus ligula ac commodo. Maecenas dictum blandit luctus. In tortor nulla, iaculis semper elit quis, viverra lobortis sapien. Donec vel quam vel nulla auctor semper a at eros. Suspendisse potenti. Nam iaculis orci ligula, id sagittis tortor dictum et. Cras ut sagittis ipsum, quis pulvinar quam. Fusce congue, purus et luctus tincidunt, mi diam volutpat nibh, non accumsan leo ipsum nec libero. Mauris tempor, mi iaculis efficitur sollicitudin, ante tortor tincidunt tellus, nec tempor sem est vitae lacus. In id nibh et eros cursus efficitur ac ut risus.
	      </p>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis non orci quis consequat. Praesent rhoncus elit vitae nunc vulputate dapibus. Cras commodo sit amet neque ac lobortis. Nunc ullamcorper tincidunt erat molestie ornare. Cras auctor finibus ligula ac commodo. Maecenas dictum blandit luctus. In tortor nulla, iaculis semper elit quis, viverra lobortis sapien. Donec vel quam vel nulla auctor semper a at eros. Suspendisse potenti. Nam iaculis orci ligula, id sagittis tortor dictum et. Cras ut sagittis ipsum, quis pulvinar quam. Fusce congue, purus et luctus tincidunt, mi diam volutpat nibh, non accumsan leo ipsum nec libero. Mauris tempor, mi iaculis efficitur sollicitudin, ante tortor tincidunt tellus, nec tempor sem est vitae lacus. In id nibh et eros cursus efficitur ac ut risus.
	      </p>
	    </div>

	    <div class="layout-sidebar left col-1-4">
	      <h4><a href="#">My sidebar stuff</a></h4>
	      <div class="layout-sidebar__sections">
	        <h4 class="headline">You can find me on</h1>
	        <ul class="soc-list">
	          <li><a href="https://twitter.com/realrayinla">Twitter</a></li>
	          <li>Linkedin</li>
	        </ul>   
	      </div>    
	    </div>
	</div>
