.layout-header {
	padding: 30px;

	background-color: #272626;	
}

.layout-hero {
  margin-top: 0.5px;
	padding-bottom: 300px;
	background-color: #E0DFDE;
}

.layout-content {

  
}

.shadow {
 -webkit-box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
 -moz-box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
 box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
}

.headline {
  border-bottom: 1px solid black;
}
