.layout-header {
	padding: 10px;
	background-color: #fdfdfd;	
  border-bottom: 1px solid #adadad;
  transition: all 1s ease-out;
}
.sticky {
  transition: all 1s ease-out;
  text-align: center;
  position: fixed;
  width: 100%;
	padding: 20px;
	background-color: #fdfdfd;	
  border-bottom: 1px solid #adadad;
  z-index: 1;  
}
.layout-hero {
 
	width:100%;
	padding-bottom: 850px;
	background-color: #fdfdfd; 
}
.layout-content {
  margin-top: 100px;
	padding-bottom: 100px;
  text-overflow: hidden;
}
.layout-content_portfolio {
  padding-bottom: 200px;   

}
.layout-content_contact{
  margin-top: 30px;
} 
.layout-sidebar {
  margin-top: 40px;
}
.section-content {
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.section-text {
  padding-left: 20px;
}

.shadow {
 -webkit-box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
 -moz-box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
 box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
}
.headline {
  border-bottom: 1px solid black;
}
