.layout-header {
	padding: 30px;
	background-color: #37393A;	
}

.layout-hero {
	width:100%;
	padding-bottom: 200px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	background-color: #E8EEF2;
}

.layout-content {
	margin-left: 40px;
  
}

.shadow {
 -webkit-box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
 -moz-box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
 box-shadow: -1px 3px 0px -2px rgba(0,0,0,0.75);
}

.headline {
  border-bottom: 1px solid black;
}
