<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<header> 
  		<div class="wrapper layout-header">
  			<h1 class="brand shadow">YourCodeHero</h1>
  		</div>
  	</header>
    <%= yield %>


  </body>
</html>
