<!DOCTYPE html>
<html>
  <head>
    <title>yourcodehero</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="favicon.ico" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css?family=Indie+Flower|PT+Serif|Open+Sans|Raleway|Patua+One" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>  
  </head>

  <body>
    <div class="bg-img">
  	<header class="layout-header"> 
        <div class="col-1-2">
          <h1 class="brand">YourCodeHero /></h1>
        </div>
        <div class="col-1-2 nav-wrap">
          <ul class="nav row-display">
            <a href="#"><li class="follow">FOLLOW</li></a>
            <a href="#"><li class="about">ABOUT</li></a>
            <a href="#"><li class="portfolio">PROJECTS</li></a>
            <a href="#"><li class="hire">HIRE</li></a>   
          </ul>
        </div>
    </header>

    <section class="layout-hero middle-display">

      <div class="me-col">
       <div class="logo"><h2>/></h2></div>
       <section class="cd-intro">
        <h1 class="cd-headline push">
        <span>Super</span>
        <span class="cd-words-wrapper">
          <b class="is-visible">modern</b>
          <b>smooth</b>
        </span>
        <span>desgins</span>
        </h1>
        </section>
        <section>
          <ul class="soc-list row-display">
            <li><img src="/assets/twitter-logo"></li>
            <li><img src="/assets/github-logo"></li>
            <li><img src="/assets/linkedin-logo"></li>
          </ul>
        </section>
      </div>
    
    </section>
  </div>
    <%= yield %>
  </body>
</html>
<!-- <div>Icons made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->